<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Storage Depo</title>
</head>

<body>
  <div style = "display: flex">
    <form action="" method="get">
      Add Storage Unit Type: <input type="text" name="storage_type" placeholder="outdoor">
      <input type="submit" name="add" value = "New Storage Type">
    </form>

    <form action="" method="get">
      Remove Storage Unit Type: <input type="text" name="remove_type" placeholder="home">
      <input type="submit" name = "remove" value = "Remove Storage Type">
    </form>
  </div>
</body>
</html>